// $colorPrimario: #0B0C10;
// $colorSecundario: #116466;
$colorPrimario: #802BB1;
$colorSecundario: #2D283E;
$colorTerciario: #D1D7E0;
// $colorTerciario: #D1E8E2;
// $colorOscuro2: #2C3531;
$colorOscuro2: #4C495D;